<ion-content class="container">

  <div class="wrapper ion-margin">

    <img class="card__img" [src]=" card.cover " alt="">

    <p class="card__title">{{ card.title }}</p>

    <div class="border__bottom"></div>

    <div class="card__group__text ion-margin">

      <p class="card__text">{{ card.text1 }}</p>

      <p class="card__text">{{ card.text2 }}</p>

      <p class="card__text">{{ card.text3 }}</p>

      <p class="card__text">{{ card.text4 }}</p>

    </div>

  </div>

  <app-footer></app-footer>
</ion-content>
