<ion-content class="container">

  <ion-card class="ion-margin ion-padding">

    <ion-card-title class="ion-text-center logo--large">MINAS TECH</ion-card-title>

    <ion-card-content class=" ion-text-center form__text ion-margin-top">
      Crie a sua conta para ter acesso a todos n on nossos conteudos
    </ion-card-content>

    <ion-item>
      <ion-label class="ion-margin-top" color="dark" position="floating">Nome completo</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-margin-top" color="dark" position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-margin-top" color="dark" position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-margin-top" color="dark" position="floating">Confirmar senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-margin-top" color="dark" position="floating">Data de Nascimento</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button class="ion-margin-vertical" color="danger" expand="block" fill="outline">Cadastrar</ion-button>

    <p color="dark" class="ion-text-center form__text">Já tem uma conta? <a class="ion-label--red" (click)="login()">ENTRE</a> </p>

  </ion-card>

</ion-content>
