.ion-margin{
  margin: 10px;
}

.ion-text__divider{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 80%;
  height: 1px;
  background-color: #f00;
}

.bg-footer{
  background-color: #202020;
}

.w-10{
  width: 2rem;
}

.px-6{
  padding: 0 5rem 0 4.8rem;
}

h5{
  font-size: 0.9rem;
  font-family: 'Amiri', sans-serif;
  color: #d7d7d7;
}

h6{
  font-family: 'Amiri', sans-serif;
  color: #d7d7d7;
  font-size: 0.85rem;
}

.cor-fonte{
  font-family: 'Amiri', sans-serif;
  color: #d7d7d7;
}

.ff-open{
  font-family: 'Amiri', sans-serif;
  padding-bottom: 40px;
}

.fonts-6{
  font-size: 0.7rem;
}

.pt-6{
  padding-top: 1.80rem;
}

.p-icone{
  padding: 2rem 0 2rem 0;
}

.p-textofooter{
  padding: 0 0 0 0.4rem;
}

.color-text-01{
  color: #e8e8e8;
}

svg{
  margin-top: 30px;
  margin-right: 20px;
}
