
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title class="logo--small">MINAS TECH</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="login()">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <ion-label>Entrar</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="newspaper" slot="start"></ion-icon>
        <ion-label>Ultimas Notícias</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Populares</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="earth" slot="start"></ion-icon>
        <ion-label>Mais Lidas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
